{% extends 'base.html.twig' %}

{% block title %}{{ action }} une compétence{% endblock %}

{% block body %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {% include 'back/navigation.html.twig' %}
            <section class="container my-5">
                <header>
                    <h1>{{ action }} une compétence</h1>
                </header>

                <div class="my-5">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            <small>{{ form_help(form.name) }}</small>
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form_label(form.icon) }}
                            {{ form_widget(form.icon) }}
                            <small>{{ form_help(form.icon) }}</small>
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form_label(form.color) }}
                            {{ form_widget(form.color) }}
                            <small>{{ form_help(form.color) }}</small>
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form_label(form.level) }}
                            {{ form_widget(form.level) }}
                            <small>{{ form_help(form.level) }}</small>
                        </div>
                    </div>

                    <div class="mt-5">
                        <button type="submit" class="btn btn-sm btn-outline-info">{{ action }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </section>
    {% endif %}
{% endblock %}